* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;

    --sageGreen: #90C08D;
    --cornflowerBlue: #9EC9E7;
    --burntOrange: #E9724C;

}

.site-container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head head head"
        "navi navi navi"
        "main main main";
}

/* header */

.head {
    grid-area: head;
    background-color: var(--sageGreen);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.head-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.head-link:hover {
    outline: solid 2px black;
}

.head-link:hover::after {
    content: "\1F517\FE0E"; /* HyperLink symbol */
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.white-header {
    color: white;
}

/* navbar */

.navi {
    grid-area: navi;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0%;
    height: 100%;
    margin: 0%;
}

.nav-list li {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.nav-list li:hover, .dropdown a:hover{
    cursor: pointer;
    outline: 2px solid black;
}

/* navbar dropdown menus */

.dropdown {
    position: relative;
}

.dropdown::after {
    padding-left: .5rem;
    font-weight: bold;
    content: '⌄';
}

.dropdown a{
    display: block;
}

.dropdown .content {
    min-width: 100%;
    top: 100%;
    position: absolute;
    background-color: rgb(228, 228, 228);
    display: none;
}

.dropdown:hover .content {
    display: block;
}

/* main content */

.main {
    grid-area: main;
    background-color: var(--cornflowerBlue);
    display: flex;
    justify-content: center;
    align-items: start;
}

/* reviews */

.review-grid {
    width: clamp(300px, 90%, 1300px);
    padding: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
}

.review {
    background-color: white;
    padding: 1rem;
}

/* accessibility */

.accessibility-grid {
    width: minmax((300px + 2rem), 1300px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.accessibility-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    gap: 1rem;
}

.accessibility-card > .image-container {
    width: 90%;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Interactive Map */

.map-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-image {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .popup h3 {
    margin: 0;
    font-size: 1.2rem;
  }
 .active{
    display: block;
  }

/* contact container */

.contact-locate-container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "contact location";
}

.contact-info{
    grid-area: contact;
    padding: 1rem;
}

.email-form input, .email-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.email-form button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: var(--burntOrange);
    color: white;
    border: none;
    cursor: pointer;
}
.email-form button[type="submit"]:hover {
    background-color: darken(var(--burntOrange), 10%);
}


.location-info{
    grid-area: location;
    padding: 1rem;
    min-width: 300px;
}

.location-info iframe {
    width: 100%;
    border: none;
}

@media (max-width: 700px) {
    .contact-locate-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contact"
            "location";
    }