* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    --sageGreen: #90C08D;
    --cornflowerBlue: #9EC9E7;
    --burntOrange: #E9724C;

}

.site-container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head head head"
        "navi navi navi"
        "main main main";
}

.head, .navi, .main {
    /* border: 1px solid black; */
}


.head {
    grid-area: head;
    background-color: var(--sageGreen);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.head-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.head-link:hover {
    outline: solid 2px black;
}

.head-link:hover::after {
    content: "\1F517\FE0E"; /* HyperLink symbol */
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.white-header {
    color: white;
}

.navi {
    grid-area: navi;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0%;
    height: 100%;
    margin: 0%;
}

.navbar li {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.navbar a:hover {
    outline: 2px solid black;
}

.main {
    grid-area: main;
    background-color: var(--cornflowerBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reviews */

.review-grid {
    width: 80%;
    padding: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
}

.review {
    background-color: white;
    padding: 1rem;
}