* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;

    --sageGreen: #90C08D;
    --cornflowerBlue: #9EC9E7;
    --burntOrange: #E9724C;

}

.site-container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head head head"
        "navi navi navi"
        "main main main";
}

/* header */

.head {
    grid-area: head;
    background-color: var(--sageGreen);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.head-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.head-link:hover {
    outline: solid 2px black;
}

.head-link:hover::after {
    content: "\1F517\FE0E"; /* HyperLink symbol */
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.white-header {
    color: white;
}

/* navbar */

.navi {
    grid-area: navi;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0%;
    height: 100%;
    margin: 0%;
}

.nav-list li {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.nav-list li:hover, .dropdown a:hover{
    cursor: pointer;
    outline: 2px solid black;
}

/* navbar dropdown menus */

.dropdown {
    position: relative;
}

.dropdown::after {
    padding-left: .5rem;
    font-weight: bold;
    content: '⌄';
}

.dropdown a{
    display: block;
}

.dropdown .content {
    min-width: 100%;
    top: 100%;
    position: absolute;
    background-color: rgb(228, 228, 228);
    display: none;
}

.dropdown:hover .content {
    display: block;
}

/* main content */

.main {
    grid-area: main;
    background-color: var(--cornflowerBlue);
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
}

/* reviews */

.review-grid {
    width: clamp(300px, 90%, 1300px);
    padding: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
}

.review {
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Review image carousel */

#carouselExampleControlsNoTouching {
    width: clamp(300px, 80%, 1000px);
    height: auto;
}

.carousel-item {
    width: 80%;
    height: auto;
}

#carouselExampleControlsNoTouching img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9 ;
}


/* accessibility */

.accessibility-grid {
    min-width: 250px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.accessibility-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.accessibility-card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Lost and found */

.lost-and-found-grid {
    min-width: 200px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.lost-item {
    display: flex;
    flex-direction: column  ;
    background-color: white;
    padding: 1rem;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.lost-item button {
    color: white;
    background-color: green;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 8px;
}

.lost-item img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Interactive Map */

.map-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-image {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .popup h3 {
    margin: 0;
    font-size: 1.2rem;
  }
 .active{
    display: block;
  }

/* Lost and found modal */

.claimItemModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: clamp(300px, 50%, 500px);
}

.claimItemModal section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.claimItemModal .closeBTN,
.claimItemModal .submitBTN {
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.claimItemModal .closeBTN {
    background-color: red;
}

.claimItemModal .submitBTN {
    background-color: green;
}

.claimItemModal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.claimItemModal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.claimItemModal form div input {
    font-size: 1.5rem;
    width: 100%
}

/* adoption */

.adoption-grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-items: center;
}

.adoption-card {
    display: flex;
    padding: 1rem;
    background-color: white;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .adoption-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dog-image {
        width: auto;
        height: 50%;
    }

    .adoption-info {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) {
    .adoption-card {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .dog-image {
        width: 50%;
        height: auto;
    }

    .adoption-info {
        width: 50%;
    }
}

.dog-image {
    min-width: 200px;
}

.adoption-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.adoption-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.adoption-info h4 {
    font-size: 3rem;
}

.adoption-info p {
    font-size: 1.25rem;
}

.adoption-info button {
    padding: 1rem;
}